# 🌐 App
API_GATEWAY_PORT=3000
API_GATEWAY_ENV=development

# 🗄️ PostgreSQL
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=mypassword
DB_NAME=habits_app

# 📦 RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# ⚙️ TypeORM
DB_SYNCHRONIZE=true
DB_LOGGING=true

# 🔐 JWT
JWT_SECRET=super_secret_key